# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = FioneraGH
	email = fionera@outlook.com
[core]
	autocrlf = input
	excludesfile = /Users/fionera/.gitignore
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[color]
	ui = auto
[credential]
	helper = store
